<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>atheMMMs</title>

    </head>
    <body>
        <style>

body {
    background-image: url("/images/background2.jpg");
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed;
  }
                    
                      .navbar {
                      background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
                    }
                    .navbar:not(.top-nav-collapse) {
                      background: transparent;
                    }
                    .navbar .navbar-brand img {
                      height: 40px;
                      margin: 10px;
                    }
                    .navbar.navbar-1 .navbar-toggler-icon {
                      background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
                    }
                    .hm-gradient {
                      background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
                    }
                    .heading {
                      margin: 0 6rem;
                      font-size: 3.8rem;
                      font-weight: 700;
                      color: #5d4267;
                    }
                    .subheading {
                      margin: 2.5rem 6rem;
                      color: #bcb2c0;
                    }
                    .btn.btn-margin {
                      margin-left: 6rem;
                      margin-top: 3rem;
                    }
                    .btn.btn-lily {
                      background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
                      color: #fff;
                    }

                    .progress {
                    width: 150px;
                    height: 150px;
                    background: none;
                    position: relative;
                    }

                    .progress::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 6px solid #eee;
                    position: absolute;
                    top: 0;
                    left: 0;
                    }

                    .progress>span {
                    width: 50%;
                    height: 100%;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    }

                    .progress .progress-left {
                    left: 0;
                    }

                    .progress .progress-bar {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    background: none;
                    border-width: 6px;
                    border-style: solid;
                    position: absolute;
                    top: 0;
                    }

                    .progress .progress-left .progress-bar {
                    left: 100%;
                    border-top-right-radius: 80px;
                    border-bottom-right-radius: 80px;
                    border-left: 0;
                    -webkit-transform-origin: center left;
                    transform-origin: center left;
                    }

                    .progress .progress-right {
                    right: 0;
                    }

                    .progress .progress-right .progress-bar {
                    left: -100%;
                    border-top-left-radius: 80px;
                    border-bottom-left-radius: 80px;
                    border-right: 0;
                    -webkit-transform-origin: center right;
                    transform-origin: center right;
                    }

                    .progress .progress-value {
                    position: absolute;
                    top: 0;
                    left: 0;
                    }

                    .rounded-lg {
                    border-radius: 1rem;
                    }

                    .text-gray {
                    color: #aaa;
                    }

                    div.h4 {
                    line-height: 1rem;
                    }
                   
        </style>
                  
        <!-- Main navigation -->
        <header>
            <!--Navbar -->
            <nav class="navbar navbar-1 navbar-expand-lg scrolling-navbar navbar-dark z-depth-0 fixed-top">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo3.png" alt="atheMMMs">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
                </button>
            
                <div class="collapse navbar-collapse navbar-light navbar-1 white" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown dropdown-primary active">
                        <form action="/logout?_method=DELETE" method="POST">
                            <button type="submit" 
                                class="nav-link btn btn-dark btn-rounded waves-effect mr-2" >Logout <span class="sr-only">(current)</span>
                            </button>
                        </form>
                    </li>
                    </ul>
                </div>
            </nav>

            <section>
                    <div class="container-fluid py-5" style="margin-top:50px">
                      <div class="row text-center align-items-end ">

                        <!-- Personal info-->
                        <div class="col-lg-3 mb-5 mb-lg-0">
                          <div class="bg-white p-5 rounded-lg shadow">
                            <div class="text-center">
                                <h3 class="mb-5 mt-4 font-weight-bold" style="color:rgb(71, 71, 71)"><strong>Personal</strong> <a
                                  class="font-weight-bold" style="color:gold"><strong>Info</strong></a></h3>
                            
                                    <div class="custom-separator my-4 mx-auto bg-primary"></div>
                                    <ul class="list-unstyled my-5 text-small text-left">
                                        <li class="mb-3">
                                            <i class="fa fa-check mr-2 text-primary"></i> First Name: <%= user.firstName %></li>
                                        <li class="mb-3">
                                            <i class="fa fa-check mr-2 text-primary"></i> Last Name: <%= user.lastName %></li>
                                        <li class="mb-3">
                                            <i class="fa fa-check mr-2 text-primary"></i> Email: <%= user.email %></li>
                                            <i class="fa fa-check mr-2 text-primary"></i> 
                                            <a>Discounted: &nbsp<a id='dis'></a></p><script>
                                              var d = '<%- JSON.stringify(user.discounted) %>'
                                              var bool_value = d == "true" ? true : false
                                              if (bool_value){
                                                document.getElementById('dis').innerHTML = "Yes";
                                              } else {
                                                document.getElementById('dis').innerHTML = "No";
                                                }           
                                            </script></li>
                                    </ul>
                            </div>
                          </div>
                        </div>
                        <!-- END -->
                  
                  
                        <!--Tickets-->
                        <div class="col-lg-5 mb-5 mb-lg-0">
                          <div class="bg-white p-5 rounded-lg shadow">
                                <div class="text-center">
                                <h3 class="mb-5 mt-4 font-weight-bold" style="color:gold"><strong>Your</strong> <a
                                    class="font-weight-bold" style="color:rgb(71, 71, 71)"><strong>Tickets</strong></a></h3>
                                </div>
                            <div class="custom-separator my-4 mx-auto bg-primary"></div>
                                <div class="container">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 mb-4">
                                                    <div class="bg-white rounded-lg p-5 shadow">
                                                        <h2 class="h6 font-weight-bold text-center mb-4">Timed Ticket</h2>
                                                        <!-- Progress bar 1 -->
                                                        <div class="progress mx-auto img-fluid" data-value='<%= prog %>'>
                                                        <span class="progress-left ">
                                                                        <span class="progress-bar border-warning"></span>
                                                        </span>
                                                        <span class="progress-right">
                                                                        <span class="progress-bar border-warning"></span>
                                                        </span>
                                                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                                            <div class="h2 font-weight-bold " style="font-size:3vw"> <%= user.timedTicket %> <small> days</small></div>
                                                        </div>
                                                        </div>
                                                    
                                                        <!-- END -->
                                                    </div>
                                                </div>

                                            <div class="col-xl-6 col-lg-6 mb-4">
                                                <div class="bg-white rounded-lg p-5 shadow h-100">
                                                        <h2 class="h6 font-weight-bold text-center mb-4">Number of Tickets</h2>
                                                        <h1 class="display-1 font-weight-bold text-center mb-4"><%=user.singleTicket%></h1>   
                                                </div>
                                            </div>
                             </div></div>

                            <a href="/ticket" class="btn btn-dark btn-block p-2 shadow rounded-pill">Buy Tickets</a>
                          </div>
                        </div>
                        <!-- END -->
                  
                  
                        <!--Money-->
                        <div class="col-lg-4">
                          <div class="bg-white p-5 rounded-lg shadow ">
                                <div class="text-center">
                                        <h3 class="mb-5 mt-4 font-weight-bold" style="color:rgb(255, 215, 0)"><strong>E</strong><a
                                            class="font-weight-bold" style="color:rgb(71, 71, 71)"><strong>-wallet</strong></a><a
                                            class="font-weight-bold" style="color:gold"><strong> money</strong></a></h3>
                                        </div>
                            
                  
                            <div class="custom-separator my-4 mx-auto bg-primary"></div>
                                    <div class="bg-white rounded-lg p-5 shadow mb-4">
                                            <h2 class="h6 font-weight-bold text-center mb-4">Amount of money</h2>
                                            <h1 class="display-3 font-weight-bold text-center mb-4"><%= user.money %> €</h1>   
                                    </div> 
                            <a href="/ewallet" class="btn btn-dark btn-block p-2 shadow rounded-pill">Add money to your e-wallet</a>
                          </div>
                        </div>
                        <!-- END -->
                  
                      </div>
                    </div>
                  </section>
        </header>
        <!--/.Navbar -->
        <!-- Main navigation -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">$(function() {

            $(".progress").each(function() {
          
              var value = $(this).attr('data-value');
              var left = $(this).find('.progress-left .progress-bar');
              var right = $(this).find('.progress-right .progress-bar');
          
              if (value > 0) {
                if (value <= 50) {
                  right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                } else {
                  right.css('transform', 'rotate(180deg)')
                  left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                }
              }
          
            })
          
            function percentageToDegrees(percentage) {
          
              return percentage / 100 * 360
          
            }
          
          });</script>
    </body>
</html>